:root {
	--pink1-color: #ff49b0cc;
	--pink3-color: #ff6e87;
	--selection-color: #ffc525;
	--yellow1-color: #ffe900cc;
}

@font-face {
	font-family: 'Bright';
	src: url('fonts/BrightDEMO.otf');
}

@font-face {
	font-family: 'KillGod';
	src: url('fonts/KillGod.ttf');
}

body {
	font-family: Garamond, serif;
	font-size: 20px;
}

h1 {
	font-family: 'Bright';
	font-size: 15vw; 
	font-weight: 1;
	text-align: center;
	color: var(--pink1-color);
	text-shadow: -5px -5px var(--yellow1-color);
	margin-top: 0px;
	padding-top: 50px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	line-height: 70px;
}

span.killgod {
	font-family: 'KillGod';
	font-weight: 1;
	font-size: 1.9vw;
	color: var(--pink1-color);
}

h2 {
	font-family: 'Bright';
	font-size: 7.7vw;
	font-weight: 1;
	text-align: center;
	color: var(--pink1-color);
	text-shadow: -5px -5px var(--yellow1-color);
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 10px;
	line-height: 30px;
}

span.pinkshadow {
	color: var(--pink1-color);
	text-shadow: -1px -1px var(--yellow1-color);
}

span.pink {
	color: var(--pink3-color);
}

a {
	color: var(--pink1-color);
	text-shadow: -1px -1px var(--yellow1-color);
}

::selection{
	background:var(--selection-color);
}