:root {

	--selection-color: #ffc525;

	--yellow1-color: #ffe900cc;
	--yellow2-color: #ffe702cc;
	--yellow3-color: #ffe108cc;
	--yellow4-color: #ffd514cc;
	--yellow5-color: #ffc525cc;

	--orange1-color: #ff9c54cc;
	--orange2-color: #ff836dcc;

	--pink3-color: #ff6e87cc;
	--pink2-color: #ff5a9bcc;
	--pink1-color: #ff49b0cc;

	--darkpink-color: #920b58cc;
	--paleyellow-color: #ffdc7acc;

	--paper-color: #ecdcb9;

	--squareyellow-color: 255, 232, 0;
	--squarepink-color: 255, 73, 175;

}

@font-face {
	font-family: 'Bright';
	src: url('fonts/BrightDEMO.otf');
}

@font-face {
	font-family: 'KillGod';
	src: url('fonts/KillGod.ttf');
}

html {
	text-size-adjust: none;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	font-size: clamp(12px, calc(10px + 2vw), 24px);
	font-family: Garamond, serif;
	background-color: #ecdcb9cc;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}


h1 {
	font-family: 'Bright';
	font-size: 9rem; 
	font-weight: 1;
	text-align: center;
	color: var(--pink1-color);
	text-shadow: -0.04em -0.04em var(--yellow1-color);
}

p.killgod {
	text-align: center;
	font-family: 'KillGod';
	font-weight: 1;
	font-size: 1.2rem;
	text-align: center;
	color: var(--pink1-color);
}

h2 {
	font-family: 'Bright';
	font-size: 4.9rem;
	font-weight: 1;
	text-align: center;
	color: var(--pink1-color);
	text-shadow: -0.04em -0.04em var(--yellow1-color);
}

div.squarespacer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2rem auto 2rem auto;
}

img.squares {
	width: min(75vw, 18rem);
}

div.biobox {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
	gap: 0.5rem;
}

img.biopic {
	width: min(95vw, 10rem);
}

p.biotext {
	text-align: center;
	width: min(95vw, 40rem);
	margin: 0;
}

h3 {
	font-family: 'Bright';
	font-size: 2.6rem;
	font-weight: 1;
	text-align: center;
	color: var(--pink1-color);
	text-shadow: -0.04em -0.04em var(--yellow1-color);
	margin: 0 0 -1rem 0;
}

h4 {
	font-family: 'Bright';
	font-size: 1.6rem;
	font-weight: 1;
	text-align: center;
	color: #ffffff;
	background-color: var(--pink3-color);
	border-radius: 2em;
	padding: 0.5rem 5rem 0.5rem 5rem;
}


span.pinkshadow {
	color: var(--pink1-color);
	text-shadow: -0.04em -0.04em var(--yellow1-color);
}

span.pink {
	color: var(--pink1-color);
	text-shadow: -0.04em -0.04em var(--yellow1-color);
}

p.gametitle {
	color: var(--darkpink-color);
	text-shadow: -0.04em -0.04em var(--paleyellow-color);
	text-shadow: 0.04em 0.04em var(--paleyellow-color);
	font-family: 'tahoma';
	font-style: bold;
	font-weight: 1000;
	font-size: 1rem;
	margin: 0 0 0.2rem 0;
}

span.titleinfo {
	color: var(--darkpink-color);
	font-family: 'courier new';
	font-style: bold;
	font-weight: 1000;
	font-size: 0.7rem;
}

span.platforms {
	color: var(--darkpink-color);
	font-family: 'courier new';
	font-size: 0.6rem;
	text-align: center;
}

p.paneltext {
	line-height: 0.65em;
	margin: 0;
}

a {
	color: var(--pink1-color);
	text-shadow: -0.04em -0.04em var(--yellow1-color);
}

::selection{
	background:var(--selection-color);
}

div.bulletbox {
	width: 80vmin; 
	height: fit-content; 
	display: flex; 
	flex-wrap: wrap; 
	margin-left: auto; 
	margin-right: auto; 
	justify-content: center;	
}

span.bullettext {
	text-align: center;
	position: relative;
	padding: 0 1em 0 1em;
}

span.bulletleft {
	color:var(--pink3-color);
	position: absolute;
	left: -0.175em;
}

span.bulletright {
	color:var(--pink3-color);
	position: absolute;
	right: -0.175em;
}

div.panels {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
}

div.panel  {
	display: flex;
	flex-direction: column;
	width: 14rem;
	min-height: 12rem;
	border: 0.25rem var(--pink2-color);
	border-style: none solid solid none;
	padding: 0.5rem;
	box-shadow: -0.25rem -0.25rem var(--yellow1-color);
}

div.project {
	background-color: var(--orange1-color);
}

div.jam {
	background-color: var(--yellow5-color);
}

img.keyart {
	width: 100%;
	aspect-ratio: 16 / 9;
	object-fit: cover;
}

div.expertise {
	display: flex; 
	justify-content: center; 
	margin-bottom: -1.6rem;
	margin-top: -1rem;
}

div.expertisebox {
	width: min(95vw, 40rem);
	display: flex; 
	flex-wrap: wrap;
	justify-content: center;
}

div.spacer {
	height: 1rem;
}


div.headerbox {
	container: headerbox / size;
	width: min(95vw, 50rem);
	aspect-ratio: 3 / 1;
	margin: auto;
}


@container headerbox {
	h1 {
		font-size: 19cqw;
		margin: -1cqw 0 -4cqw 0;
	}
	
	p.killgod {
		font-size: 2.4cqw;
		margin: 0;
	}

	h2 {
		font-size: 10cqw;
		margin: 0;
	}
}